div{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 5000px;
    margin-top: 40px;
    margin-left: 40px;
}
.right_section{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}
.profile_image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 5px;
}
.left_section{
    display: inline-block;
   
}
.name{
}
.username{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
.at_the_rate{
    font-size: 17px;
    display: inline-block;
    color: rgb(120, 120, 120);
}
.about{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 400px;
}
.links{
    width: 380px;
    height: 100px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    overflow: hidden;
}
.preview{
    display: inline-block;
}
.thumbnail{
    display: inline-block;
    background-color: rgb(206, 206, 206);
    height: 100px;
    width: 120px;
    margin-right: 10px;
    
    
}
.link_section{
    display: inline-block;
    vertical-align: top;
}
.youtube{
    padding-top: 10px;
    color: rgb(120, 120, 120);
    font-size: 16px;
    padding-bottom: 5px;
}
.content{
    width: 240px;
    font-size: 17px;
    line-height: 22px;
}
